body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f7f3;
    color: #333;
    cursor: default;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color:rgb(72, 122, 80);
    margin-top: 30px;
    padding: 40px;
}

nav a {
    text-decoration: none;
    color: #f3f7f3;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 15px;
    font-size: 1.1em;
    position: relative;
}

.no-active::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 2px;
    background: #f3f7f3;
    right: 50%;
    transition: width 0.4s ease, right 0.4s ease;
}

.no-active:hover::after {
    width: 100%;
    right: 0;
}

.active {
    text-decoration: underline 2px;
    text-underline-offset: 6px;
}

.barre {
    background-color: rgb(38, 66, 43);
    margin-left: 50px;
    width: 8%;
    height: 230vh;
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 3em;
    font-weight: bold;
    color:rgb(20, 35, 22);
    margin-left: 15%;
    margin-top: 30px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    color:rgb(20, 35, 22);
}

#sous-titre {
    margin-left: 15%;
    margin-top: 10px;
    color: rgb(20, 35, 22);
}

#social-container {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

.social {
    text-decoration: none;
    margin-right: 30px;
    color: #186499;
    font-weight: bold;
}
